In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
stock_price_df = pd.read_csv('./jpx_data/train_files/stock_prices.csv')

In [19]:
stock_price_df.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
3,20170104_1376,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
4,20170104_1377,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026

In [22]:
stock_price_df['SecuritiesCode'].nunique() # 2000개의 종목

2000

In [26]:
stock_price_df[stock_price_df['SecuritiesCode'] == 1301]

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1865,20170105_1301,2017-01-05,1301,2743.0,2747.0,2735.0,2738.0,17900,1.0,NaN,False,0.002920
3730,20170106_1301,2017-01-06,1301,2734.0,2744.0,2720.0,2740.0,19900,1.0,NaN,False,-0.001092
5595,20170110_1301,2017-01-10,1301,2745.0,2754.0,2735.0,2748.0,24200,1.0,NaN,False,-0.005100
7460,20170111_1301,2017-01-11,1301,2748.0,2752.0,2737.0,2745.0,9300,1.0,NaN,False,-0.003295
...,...,...,...,...,...,...,...,...,...,...,...,...
2322531,20211129_1301,2021-11-29,1301,2975.0,2984.0,2951.0,2951.0,14300,1.0,NaN,False,0.003793
2324531,20211130_1301,2021-11-30,1301,2953.0,2997.0,2900.0,2900.0,20500,1.0,NaN,False,0.007558
2326531,20211201_1301,2021-12-01,1301,2909.0,2936.0,2909.0,2911.0,10600,1.0,NaN,False,0.016706
2328531,20211202_1301,2021-12-02,1301,2949.0,2973.0,2933.0,2933.0,15200,1.0,NaN,False,-0.003689
2330531,20211203_1301,2021-12-03,1301,2983.0,2983.0,2965.0,2982.0,11400,1.0,NaN,False,0.031639

In [18]:
print(f"{stock_price_df['Date'].min()} ~ {stock_price_df['Date'].max()}")

2017-01-04 ~ 2021-12-03

## stock_price.csv

기간 : 2017-01-04 ~ 2021-12-03

Volume : 볼륨(Volume, 주식거래량)은 일정 기간(시, 일, 주, 달, 년) 동안 거래된 주식 수(매도, 매수)를 의미한다 볼륨은 technical analysis 의 중요한 기초에 해당되며 주식가격의 변화에 대한 힌트를 준다 볼륨은 주가의 선행지수라고도 한다 (출처 : https://steemit.com/kr/@phuzion7/volume)

하나하나의 샘플(Row)는 종목을 의미하는듯 하다.

In [23]:
options_df = pd.read_csv('./jpx_data/train_files/options.csv')

/var/folders/tk/cydrbpwj5lb47v6dw2_k2xth0000gn/T/ipykernel_97802/1090269166.py:1: DtypeWarning: Columns (7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  options_df = pd.read_csv('./jpx_data/train_files/options.csv')

In [24]:
options_df.head(100)

,DateCode,Date,OptionsCode,WholeDayOpen,WholeDayHigh,WholeDayLow,WholeDayClose,NightSessionOpen,NightSessionHigh,NightSessionLow,...,Putcall,LastTradingDay,SpecialQuotationDay,SettlementPrice,TheoreticalPrice,BaseVolatility,ImpliedVolatility,InterestRate,DividendRate,Dividend
0,20170104_132010018,2017-01-04,132010018,650.0,650.0,480.0,480.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,480.0,478.4587,17.4736,17.5865,0.0091,0.0000,0.0
1,20170104_132010118,2017-01-04,132010118,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,575.0,571.1385,17.4736,16.5000,0.0091,0.0000,0.0
2,20170104_132010218,2017-01-04,132010218,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,680.0,677.3710,17.4736,15.8644,0.0091,0.0000,0.0
3,20170104_132010318,2017-01-04,132010318,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,795.0,791.0383,17.4736,15.2288,0.0091,0.0000,0.0
4,20170104_132010518,2017-01-04,132010518,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,910.0,909.9947,17.4736,14.5932,0.0091,0.0000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20170104_132025018,2017-01-04,132025018,18.0,19.0,8.0,8.0,18.0000,19.0000,17.0000,...,1,20170209,20170210,8.0,8.0000,17.4736,36.9308,0.0300,0.0752,0.0
96,20170104_132025218,2017-01-04,132025218,21.0,22.0,10.0,10.0,21.0000,22.0000,20.0000,...,1,20170209,20170210,11.0,10.0785,17.4736,36.0145,0.0300,0.0752,0.0
97,20170104_132025318,2017-01-04,132025318,23.0,26.0,11.0,11.0,23.0000,26.0000,23.0000,...,1,20170209,20170210,11.0,11.0000,17.4736,35.4169,0.0300,0.0752,0.0
98,20170104_132025518,2017-01-04,132025518,26.0,27.0,12.0,12.0,26.0000,27.0000,25.0000,...,1,20170209,20170210,12.0,12.0001,17.4736,34.8151,0.0300,0.0752,0.0
99,20170104_132025618,2017-01-04,132025618,28.0,31.0,14.0,14.0,28.0000,31.0000,27.0000,...,1,20170209,20170210,14.0,13.9999,17.4736,34.5581,0.0300,0.0752,0.0

In [13]:
options_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3567694 entries, 0 to 3567693
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   DateCode             object
 1   Date                 object
 2   OptionsCode          int64
 3   WholeDayOpen         float64
 4   WholeDayHigh         float64
 5   WholeDayLow          float64
 6   WholeDayClose        float64
 7   NightSessionOpen     object
 8   NightSessionHigh     object
 9   NightSessionLow      object
 10  NightSessionClose    object
 11  DaySessionOpen       float64
 12  DaySessionHigh       float64
 13  DaySessionLow        float64
 14  DaySessionClose      float64
 15  TradingVolume        int64
 16  OpenInterest         int64
 17  TradingValue         int64
 18  ContractMonth        int64
 19  StrikePrice          float64
 20  WholeDayVolume       int64
 21  Putcall              int64
 22  LastTradingDay       int64
 23  SpecialQuotationDay  int64
 24  SettlementPrice      float64
 25  TheoreticalPrice     float64
 26  BaseVolatility       float64
 27  ImpliedVolatility    float64
 28  InterestRate         float64
 29  DividendRate         float64
 30  Dividend             float64
dtypes: float64(16), int64(9), object(6)
memory usage: 843.8+ MB

In [28]:
options_df.head()

,DateCode,Date,OptionsCode,WholeDayOpen,WholeDayHigh,WholeDayLow,WholeDayClose,NightSessionOpen,NightSessionHigh,NightSessionLow,...,Putcall,LastTradingDay,SpecialQuotationDay,SettlementPrice,TheoreticalPrice,BaseVolatility,ImpliedVolatility,InterestRate,DividendRate,Dividend
0,20170104_132010018,2017-01-04,132010018,650.0,650.0,480.0,480.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,480.0,478.4587,17.4736,17.5865,0.0091,0.0,0.0
1,20170104_132010118,2017-01-04,132010118,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,575.0,571.1385,17.4736,16.5000,0.0091,0.0,0.0
2,20170104_132010218,2017-01-04,132010218,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,680.0,677.3710,17.4736,15.8644,0.0091,0.0,0.0
3,20170104_132010318,2017-01-04,132010318,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,795.0,791.0383,17.4736,15.2288,0.0091,0.0,0.0
4,20170104_132010518,2017-01-04,132010518,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,910.0,909.9947,17.4736,14.5932,0.0091,0.0,0.0

In [29]:
financial_df = pd.read_csv('./jpx_data/train_files/financials.csv')

/var/folders/tk/cydrbpwj5lb47v6dw2_k2xth0000gn/T/ipykernel_97802/2943558062.py:1: DtypeWarning: Columns (14,15,16,17,18,19,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  financial_df = pd.read_csv('./jpx_data/train_files/financials.csv')

In [30]:
financial_df.head()

,DisclosureNumber,DateCode,Date,SecuritiesCode,DisclosedDate,DisclosedTime,DisclosedUnixTime,TypeOfDocument,CurrentPeriodEndDate,TypeOfCurrentPeriod,...,ForecastEarningsPerShare,ApplyingOfSpecificAccountingOfTheQuarterlyFinancialStatements,MaterialChangesInSubsidiaries,ChangesBasedOnRevisionsOfAccountingStandard,ChangesOtherThanOnesBasedOnRevisionsOfAccountingStandard,ChangesInAccountingEstimates,RetrospectiveRestatement,NumberOfIssuedAndOutstandingSharesAtTheEndOfFiscalYearIncludingTreasuryStock,NumberOfTreasuryStockAtTheEndOfFiscalYear,AverageNumberOfShares
0,2.016121e+13,20170104_2753,2017-01-04,2753.0,2017-01-04,07:30:00,1.483483e+09,3QFinancialStatements_Consolidated_JP,2016-12-31,3Q,...,319.76,NaN,False,True,False,False,False,6848800.0,－,6848800.0
1,2.017010e+13,20170104_3353,2017-01-04,3353.0,2017-01-04,15:00:00,1.483510e+09,3QFinancialStatements_Consolidated_JP,2016-11-30,3Q,...,485.36,NaN,False,True,False,False,False,2035000.0,118917,1916083.0
2,2.016123e+13,20170104_4575,2017-01-04,4575.0,2017-01-04,12:00:00,1.483499e+09,ForecastRevision,2016-12-31,2Q,...,-93.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.017010e+13,20170105_2659,2017-01-05,2659.0,2017-01-05,15:00:00,1.483596e+09,3QFinancialStatements_Consolidated_JP,2016-11-30,3Q,...,285.05,NaN,False,True,False,False,False,31981654.0,18257,31963405.0
4,2.017011e+13,20170105_3050,2017-01-05,3050.0,2017-01-05,15:30:00,1.483598e+09,ForecastRevision,2017-02-28,FY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
financial_df['TypeOfDocument'].value_counts()

ForecastRevision                                     16995
FYFinancialStatements_Consolidated_JP                14780
3QFinancialStatements_Consolidated_JP                14728
1QFinancialStatements_Consolidated_JP                14718
2QFinancialStatements_Consolidated_JP                14624
NumericalCorrection                                   2551
FYFinancialStatements_NonConsolidated_JP              2458
3QFinancialStatements_NonConsolidated_JP              2411
1QFinancialStatements_NonConsolidated_JP              2405
2QFinancialStatements_NonConsolidated_JP              2366
2QFinancialStatements_Consolidated_IFRS                962
1QFinancialStatements_Consolidated_IFRS                960
FYFinancialStatements_Consolidated_IFRS                897
3QFinancialStatements_Consolidated_IFRS                881
FYFinancialStatements_REIT                             571
ForecastRevision_REIT                                  320
FYFinancialStatements_Consolidated_US                   77
3QFinancialStatements_Consolidated_US                   76
1QFinancialStatements_Consolidated_US                   67
2QFinancialStatements_Consolidated_US                   67
OtherPeriodFinancialStatements_Consolidated_JP          15
2QFinancialStatements_REIT                              10
2QFinancialStatements_NonConsolidated_IFRS               4
OtherPeriodFinancialStatements_NonConsolidated_JP        3
FYFinancialStatements_NonConsolidated_IFRS               3
1QFinancialStatements_NonConsolidated_IFRS               3
3QFinancialStatements_NonConsolidated_IFRS               2
Name: TypeOfDocument, dtype: int64

In [34]:
trade_df = pd.read_csv('./jpx_data/train_files/trades.csv')

In [36]:
trade_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1712 entries, 0 to 1711
Data columns (total 56 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date                                 1712 non-null   object
 1   StartDate                            765 non-null    object
 2   EndDate                              765 non-null    object
 3   Section                              765 non-null    object
 4   TotalSales                           765 non-null    float64
 5   TotalPurchases                       765 non-null    float64
 6   TotalTotal                           765 non-null    float64
 7   TotalBalance                         765 non-null    float64
 8   ProprietarySales                     765 non-null    float64
 9   ProprietaryPurchases                 765 non-null    float64
 10  ProprietaryTotal                     765 non-null    float64
 11  ProprietaryBalance                   765 non-null    float64
 12  BrokerageSales                       765 non-null    float64
 13  BrokeragePurchases                   765 non-null    float64
 14  BrokerageTotal                       765 non-null    float64
 15  BrokerageBalance                     765 non-null    float64
 16  IndividualsSales                     765 non-null    float64
 17  IndividualsPurchases                 765 non-null    float64
 18  IndividualsTotal                     765 non-null    float64
 19  IndividualsBalance                   765 non-null    float64
 20  ForeignersSales                      765 non-null    float64
 21  ForeignersPurchases                  765 non-null    float64
 22  ForeignersTotal                      765 non-null    float64
 23  ForeignersBalance                    765 non-null    float64
 24  SecuritiesCosSales                   765 non-null    float64
 25  SecuritiesCosPurchases               765 non-null    float64
 26  SecuritiesCosTotal                   765 non-null    float64
 27  SecuritiesCosBalance                 765 non-null    float64
 28  InvestmentTrustsSales                765 non-null    float64
 29  InvestmentTrustsPurchases            765 non-null    float64
 30  InvestmentTrustsTotal                765 non-null    float64
 31  InvestmentTrustsBalance              765 non-null    float64
 32  BusinessCosSales                     765 non-null    float64
 33  BusinessCosPurchases                 765 non-null    float64
 34  BusinessCosTotal                     765 non-null    float64
 35  BusinessCosBalance                   765 non-null    float64
 36  OtherInstitutionsSales               765 non-null    float64
 37  OtherInstitutionsPurchases           765 non-null    float64
 38  OtherInstitutionsTotal               765 non-null    float64
 39  OtherInstitutionsBalance             765 non-null    float64
 40  InsuranceCosSales                    765 non-null    float64
 41  InsuranceCosPurchases                765 non-null    float64
 42  InsuranceCosTotal                    765 non-null    float64
 43  InsuranceCosBalance                  765 non-null    float64
 44  CityBKsRegionalBKsEtcSales           765 non-null    float64
 45  CityBKsRegionalBKsEtcPurchase        765 non-null    float64
 46  CityBKsRegionalBKsEtcTotal           765 non-null    float64
 47  CityBKsRegionalBKsEtcBalance         765 non-null    float64
 48  TrustBanksSales                      765 non-null    float64
 49  TrustBanksPurchases                  765 non-null    float64
 50  TrustBanksTotal                      765 non-null    float64
 51  TrustBanksBalance                    765 non-null    float64
 52  OtherFinancialInstitutionsSales      765 non-null    float64
 53  OtherFinancialInstitutionsPurchases  765 non-null    float64
 54  OtherFinancialInstitutionsTotal      765 non-null    float64
 55  OtherFinancialInstitutionsBalance    765 non-null    float64
dtypes: float64(52), object(4)
memory usage: 749.1+ KB

In [37]:
stock_lst = pd.read_csv('./jpx_data/stock_list.csv')

In [38]:
stock_lst.head()

,SecuritiesCode,EffectiveDate,Name,Section/Products,NewMarketSegment,33SectorCode,33SectorName,17SectorCode,17SectorName,NewIndexSeriesSizeCode,NewIndexSeriesSize,TradeDate,Close,IssuedShares,MarketCapitalization,Universe0
0,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,TOPIX Small 2,20211230.0,3080.0,1.092828e+07,3.365911e+10,True
1,1305,20211230,Daiwa ETF-TOPIX,ETFs/ ETNs,NaN,-,-,-,-,-,-,20211230.0,2097.0,3.634636e+09,7.621831e+12,False
2,1306,20211230,NEXT FUNDS TOPIX Exchange Traded Fund,ETFs/ ETNs,NaN,-,-,-,-,-,-,20211230.0,2073.5,7.917718e+09,1.641739e+13,False
3,1308,20211230,Nikko Exchange Traded Index Fund TOPIX,ETFs/ ETNs,NaN,-,-,-,-,-,-,20211230.0,2053.0,3.736943e+09,7.671945e+12,False
4,1309,20211230,NEXT FUNDS ChinaAMC SSE50 Index Exchange Trade...,ETFs/ ETNs,NaN,-,-,-,-,-,-,20211230.0,44280.0,7.263200e+04,3.216145e+09,False

In [40]:
stock_lst['Section/Products'].value_counts()

First Section (Domestic)                                       2327
JASDAQ(Standard / Domestic)                                     726
Second Section(Domestic)                                        530
Mothers (Domestic)                                              439
ETFs/ ETNs                                                      277
REIT, Venture Funds, Country Funds and Infrastructure Funds      68
JASDAQ(Growth/Domestic)                                          41
First Section (Foreign)                                           4
Mothers (Foreign)                                                 3
JASDAQ(Standard / Foreign)                                        1
Second Section(Foreign)                                           1
Name: Section/Products, dtype: int64

여러가지 종목에대한 거래량, 날자별 종가 등 모델링에 활용가능한 factor들이 csv 형태로 주어 져 있다. 많은 factor들 가운데 어떤 factor들을 이용해서 모델링을 해야 예측의 정확도가 올라갈 것인지 파악, 실험한 후 실제 모델링을하여 평가해보자.